<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='place.css')}}">

{% extends "index.html" %}
{% block content %}

<div class="news-container">
    <div class="head">
      <h1>Best Time To Visit Your Place</h1>
    </div>
    <div class="news-item">
      <img src="static/lonavala.jpg" alt="News Image">
      <div class="news-info">
        <h3>1. Lonavala and Khandala</h3>

        <p>Perched at a height of 622 metres above sea level, Lonavala and Khandala are twin hill stations in the state
          of Maharashtra. Thanks to their pleasant weather conditions and proximity to Mumbai and Pune, the hill
          stations are frequented by Mumbaikars and Punekars year-round. Both Lonavala and Khandala come to life during
          the monsoon season when lush greenery, sparkling lakes and milky-white waterfalls add to the beauty of the
          landscape. Besides being a nature lover’s delight, the hill stations are quite popular among adventure
          enthusiasts.</p>
        <ul>
          <li> <strong>Best Time to Visit:</strong>December to February; July to September.</li>
          <li><strong>Places to Visit in Lonavala and Khandala:: </strong>Tiger’s Leap, Rajmachi Fort, Aamby Valley, Lohagad Fort,
            Bhushi Dam, Sunil’s Celebrity Wax Museum, Visapur Fort, Tikona Fort, Narayani Dham Temple</li>
          <li> <strong> Things to Do in Lonavala and Khandala:</strong>  Exploring the popular rock-cut Bhaja and Karla Caves,
            enjoying a fun-filled day at Imagicaa Entertainment Park, planning a picnic at Lonavala Lake, exploring local
            shops</li>

          <li><strong>How to Reach:</strong>
            <ul>
              <li><strong>Nearest Airport:</strong>Pune International Airport; Mumbai’s Chhatrapati Shivaji Maharaj International
                Airport</li>
              <li><strong>Nearest Train Station: </strong>Lonavala Railway Station; Khandala Railway Station</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="news-item">
      <img src="static/manali.jpg" alt="News Image">
      <div class="news-info">
        <h3>2. Manali</h3>

        <p>Situated in the Kullu Valley of Himachal Pradesh, Manali draws tourists with its natural beauty and
          tranquillity. The hill station is frequented by travellers from across the country, especially during the
          summer season when cities reel under the scorching heat. Snow-capped mountains, dense forests, riverine
          valleys and sparkling streams add to the beauty of the hill station and make it one of the most popular
          holiday destinations in India.</p>
        <ul>
          <li> <strong>Best Time to Visit:</strong>October to June.</li>
          <li><strong>Places to Visit in Manali: </strong>Manu Temple, Hidimba Devi Temple, Museum of Himachal Culture
            and Folk Art, Jogini Falls, Himalayan Nyinmapa Tibetan Buddhist Temple, Nehru Kund, Mall Road.</li>
          <li> <strong> Things to Do in Manali</strong> Paragliding, parachuting and horse riding at Solang Valley,
            mountain biking, skiing and sledge riding at Rohtang Pass, trekking, river rafting, ziplining, zorbing.</li>

          <li><strong>How to Reach:</strong>
            <ul>
              <li><strong>Nearest Airport:</strong> Bhuntar Airport</li>
              <li><strong>Nearest Train Station: </strong>Joginder Nagar Railway Station</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="news-item">
      <img src="static/goa.jpg" alt="News Image">
      <div class="news-info">
        <h3>3. Goa</h3>
        <p>Famous for its pristine beaches, hippie vibes, laidback lifestyle and vibrant parties, Goa is counted among
          the best holiday destinations in India.
          The union territory is frequented by tourists year-round, especially in the winter season when the climate is
          pleasant, and the entire place comes alive with Christmas and New Year celebrations.
          However, seasoned tourists do not shun Goa during summer either.
          If you are looking for a peaceful and economical holiday, try to visit Goa during the offseason when the
          sun-kissed beaches, flea markets and other attractions are less crowded.</p>
        <ul>
          <li> <strong>Best Time to Visit:</strong> November to February.</li>
          <li><strong> Places to Visit in Goa:</strong> Palolem Beach, Dudhsagar Falls, Basilica of Bom Jesus, Aguada
            Fort, Baga Beach, Anjuna Beach, Calangute Beach, Shree Mangesha Temple, Immaculate Conception Church.</li>
          <li> <strong> Things to Do in Goa:</strong> Beach hopping, water sports, shopping at flea markets, visiting
            Portuguese-style churches, enjoying the nightlife, tasting authentic Goan cuisine.</li>

          <li><strong> How to Reach:</strong>
            <ul>
              <li><strong> Nearest Airport:</strong> Dabolim International Airport</li>
              <li><strong> Nearest Train Station:</strong> Vasco-Da-Gama Railway Station (North Goa); Madgaon Junction
                (South Goa)</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="news-item">
      <img src="static/varanasi.jpg" alt="News Image">
      <div class="news-info">
        <h3>4. Varanasi</h3>
        <p>Situated on the banks of River Ganga in Uttar Pradesh, the holy city of Varanasi or Banaras is counted among
          the most sacred places in India.
          The city is known for some of the most revered temples and Ghats in the country and is frequented by devotees
          and tourists from across the world.
          Varanasi, one of the oldest cities in the world, is also popular as the home of Lord Shiva and Goddess
          Parvati.
          It is believed that taking a dip in the Ganges can wash away all your sins. The bustling city is popular for
          its museums, authentic Banarasi food, Banarasi sarees and handicrafts as well.</p>
        <ul>
          <li> <strong>Best Time to Visit:</strong> November to February.</li>
          <li><strong> Places to Visit in Goa:</strong> Shri Kashi Vishwanath Temple, Dashashwamedh Ghat, Manikarnika
            Ghat, Ramnagar Fort, Shri Durga Temple, Kaal Bhairav Temple, Sarnath Museum, Sankatmochan Temple.</li>
          <li> <strong> Things to Do in Goa:</strong> Seeking blessings at temples, enjoying delectable Banarasi food
            and sweetmeats, shopping for Banarasi silk sarees at Thateri Bazaar, Vishwanath Gali and Temple Bazaar.</li>

          <li><strong> How to Reach:</strong>
            <ul>
              <li><strong> Nearest Airport:</strong>Varanasi’s Lal Bahadur Shastri International Airport</li>
              <li><strong> Nearest Train Station:</strong> Varanasi Junction</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="news-item">
      <img src="static/shimla.jpg" alt="News Image">
      <div class="news-info">
        <h3>5.Shimla</h3>
        <p>Located in Himachal Pradesh at a height of 2276 metres above sea level, Shimla has been attracting honeymooners and families for decades.
          This hill station was the summer capital of British India, and so, the stunning colonial architecture and old-world charm here are unmissable.
          Shimla mesmerises nature lovers as well with its snow-covered mountains, rolling valleys, and beautiful lakes.
          It is also home to a UNESCO World Heritage Site – Kalka-Shimla train route, which offers dramatic views of the surrounding hills and villages. </p>
        <ul>
          <li> <strong>Best Time to Visit:</strong> March to June.</li>
          <li><strong> Places to Visit in Goa:</strong> Mall Road, Kufri, Green Valley, Jakhu Temple, Chail, The Ridge, Shimla Christ Church, Narkanda,
             Himalayan Bird Park, Annandale, Himachal State Museum, Theog, Kali Bari Temple.</li>
          <li> <strong> Things to Do in Goa:</strong> Tasting mouth-watering foods and cocktails at Café Shimla Point, riding the toy train, skiing, trekking, horse riding.</li>

          <li><strong> How to Reach:</strong>
            <ul>
              <li><strong> Nearest Airport:</strong>Shimla’s Jubbarhatti Airport; Chandigarh International Airport</li>
              <li><strong> Nearest Train Station:</strong>Kalka Railway Station; Chandigarh Railway Station</li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <!-- Add more news items here -->
  </div>


{% endblock content%}